
<h1>List Name: <%= @list.name %></h1>
<h1>List Bookmarks:</h1>
<% @list.bookmarks.each do |bookmark| %>
<br>
<%= bookmark.comment %>
<%= link_to "Delete this Bookmark", bookmark_path(bookmark), data: { "turbo-method": :delete } %>

<% end %>
<br>
<br>
<br>
<%= link_to "Back to all lists", lists_path %>
<br>
<br>
<%= link_to "Add Bookmark to this list", new_list_bookmark_path(params[:id]) %>
